<div class="navbar">
    <div class="container clearfix"><a class="menu on-scroll">MENU</a>
        <ul class="nav hidden-mobile">
            <li class="on-scroll"><a href="/about">ABOUT</a></li>
            <li class="on-scroll"><a href="/portfolio">LATEST WORK</a></li>
            <li class="on-scroll"><a href="/contact">CONTACT</a></li>
        </ul>
        <a href="/" class="logo"><img src="/img/logo_white.png" class="on-scroll"/></a>
    </div>
    <ul class="mobile-nav">
        <li class="close-menu"><a>CLOSE</a></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/portfolio">LATEST WORK</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</div>